.description {
  text-align: center;
  font-weight: bolder;
  color: white;
  margin-top: 1rem;
  height: 60vh;
  align-content: flex-end;
  padding: 0 1rem;
  padding-bottom: 3rem;
  background-color:red;
  z-index: 5;
}

h3 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
}

.description button {
  background-color: rgb(233, 194, 121);
  border-radius: 15px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.categories {
  height: 20vh;
  color: white;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid;
  width: 100%;
  background-size:auto;
  transition: background-size 0.6s ease;
}

.categories p{
  font-size: 1rem;
  font-weight: bolder;
}

.categories:hover{
  /* transform: scale(1.2); */
  background-size: 90%;
  cursor: pointer;
}

.description-div{
  padding: 1rem;

  border-radius: 0.3rem;
}

@media only screen and (min-width: 768px){
  .description{
    width: 40vw;
    height: 90vh;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .categories{
    width: 20vw;
    height: 40vh;

  }
}